.root {
    display: flex;
    // max-width: 100px;
    justify-content: center;
    gap: 10px;

    li {

        a {
            color: #fe5f1e;
            border: 1px solid #fe5f1e;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                background: #fe5f1e;
                color: #fff;
            }
        }
    }

    :global{
        .selected{
            a {
                background-color: #fe5f1e;
                color: #fff;
            }
        }
    }
}
